@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: $base-font-size;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  &.lock {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.m-0 {
  margin: 0 !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

.main {
  display: flex;
  margin-top: 55px;
  position: relative;
}

.sidebar {
  flex-basis: 20%;
}

.content {
  flex-basis: 62%;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.sidebar {
  margin-right: 40px;

}

.link__svg {
  width: 150px;
}

.sidebar {
  will-change: min-height;

}

.sidebar__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}



.datepicker-container {
  width: 223px;
  height: 247px;
  background: #FFFFFF;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
}

.datepicker-top-left:before {
  display: none;
}

.datepicker-panel>ul>li.picked {
  background: #FF4242;
  color: #fff;
  border-radius: 50%;

  &:hover {
    background: #DD0404;
    color: #fff;
    ;
  }
}

.datepicker-panel>ul>li:hover {
  background: #FF4242;
  color: #fff;
  border-radius: 50%;
}

#mCSB_1_scrollbar_vertical .mCSB_dragger {
  color: rgba(#0B1F35, .2) !important;
  width: 5px !important;
  height: 66px !important;
  border-radius: 12px;
}

.mCSB_outside+.mCSB_scrollTools {
  right: -26px !important;
}

//Модули
@import "modules/modules";