.header__top
    .container
        .header__inner
            .header__info
                a(href="lot.html").header__info-link О проекте
                a(href="#").header__info-link Как заказать лот?
                a(href="#").header__info-link Не нашли что искали?

            .header__registration
                a(href="#").header__registration-link
                    +icon('basket')
                a(href="#").header__registration-link
                    +icon('star')
                a(href="#").header__registration-link
                    +icon('bell')
                a(href="#popup").btn.btn--redBorder.header__registration-btn.popup-link Вход и регистрация