header.header
    include ../../modules/header/header-top-reg
    //- include ../../modules/header/header-top-user
    .header__main
        .container
            .header__main-inner
                a.logo(href="index.html")
                    img(src="../static/images/general/logo.svg", alt="")
                nav.menu
                    ul.menu__list
                        li.menu__list-item
                            a.menu__list-link(href="#")  Транспорт
                        li.menu__list-item
                            a.menu__list-link(href="#") Недвижимость
                        li.menu__list-item
                            a.menu__list-link(href="#") Финансовые активы и интелктуал...
                        li.menu__list-item
                            a.menu__list-link(href="#") C.X. иммущество
                        li.menu__list-item
                            a.menu__list-link(href="#") Еще...
    .header__search
        .container
            .search__inner
                .search__item
                    .select
                        input.select__input(type='hidden', name='')
                        .select__head.header__select-head Категория
                        ul.select__list(style='display: none;')
                            li.select__item Тип1
                            li.select__item Тип2
                            li.select__item Тип3
                .search__item
                    input.input.header__input(type="text" placeholder='Поиск по номеру лота или ключевому слову')
                .search__item
                    .select
                        input.select__input(type='hidden', name='')
                        .select__head.header__select-head Регион
                        ul.select__list(style='display: none;')
                            li.select__item Тип1
                            li.select__item Тип2
                            li.select__item Тип3
