.pagination
    .pagination__inner
        .pagination__block
            a(href="#").pagination__item Начало
            a(href="#").pagination__item Пред.
        .pagination__block
            a(href="#").pagination__number.is-active 1
            a(href="#").pagination__number 2
            a(href="#").pagination__number 3
            a(href="#").pagination__number 4
            a(href="#").pagination__number 5
        .pagination__block
            a(href="#").pagination__item След.
            a(href="#").pagination__item Конец
    .pagination__pages Показано 1-20 из 3230
