.container
    .lots
        h3.lots__title Все лоты в Ярославле
        .lots__row
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot1.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot1')
                    .lots__item-title Для дома
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot2.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot2')
                    .lots__item-title Транспорт
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot3.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot3')
                    .lots__item-title Коммерческий транспорт
                    span.lots__item-num.no-active 32356
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot4.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot4')
                    .lots__item-title Недвижемость
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot5.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot5')
                    .lots__item-title ТМЦ
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot6.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot6')
                    .lots__item-title Промышленное оборудование
                    span.lots__item-num 32356
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot7.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot7')
                    .lots__item-title С.Х. имещество
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot8.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot8')
                    .lots__item-title Финансовые активы
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot9.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot9')
                    .lots__item-title Интелектуальная собственность
                    span.lots__item-num 32356

        .lots__row
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot10.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot10')
                    .lots__item-title Для дома
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot11.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot11')
                    .lots__item-title Транспорт
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot12.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot12')
                    .lots__item-title Коммерческий транспорт
                    span.lots__item-num.no-active 32356
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot13.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot13')
                    .lots__item-title Недвижемость
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot14.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot14')
                    .lots__item-title ТМЦ
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot15.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot15')
                    .lots__item-title Промышленное оборудование
                    span.lots__item-num 32356
            .lots__block
                a(href="#").lots__item
                    .checkbox
                        input#lot16.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot16')
                    .lots__item-title С.Х. имещество
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot17.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot17')
                    .lots__item-title Финансовые активы
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .checkbox
                        input#lot18.custom-checkbox(type='checkbox', name='checkbox')
                        label.label(for='lot18')
                    .lots__item-title Интелектуальная собственность
                    span.lots__item-num 32356
        button.btn.btn--redBackground.lots__btn Найти       
