.container
    .lots
        h3.lots__title Все лоты в Ярославле
        .lots__inner
            .lots__block
                a(href="#").lots__item
                    .lots__item-title Для дома
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Транспорт
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Коммерческий транспорт
                    span.lots__item-num 32356
            .lots__block
                a(href="#").lots__item
                    .lots__item-title Недвижемость
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title ТМЦ
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Промышленное оборудование
                    span.lots__item-num 32356
            .lots__block
                a(href="#").lots__item
                    .lots__item-title С.Х. имещество
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Финансовые активы
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Интелектуальная собственность
                    span.lots__item-num 32356
            .lots__block
                a(href="#").lots__item
                    .lots__item-title Для дома
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Транспорт
                    span.lots__item-num 32356
                a(href="#").lots__item
                    .lots__item-title Коммерческий транспорт
                    span.lots__item-num 32356



