include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
		link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap', rel='stylesheet')

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer

			//modals
			include ../modules/modals/modal-goin
			include ../modules/modals/modal-registration
			include ../modules/modals/modal-password
		.tab.tab__note
			input#note.tab__input(type='checkbox', name='tab-group')
			label.tab-title(for='note') Заметки
			section.tab-content
				textarea.textarea(name="" placeholder="Ваши заметки")

		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		script(src="static/js/ru.js")
		block script
