.lot {
    &__title {
        font-weight: bold;
        font-size: 44px;
        line-height: 51px;
        letter-spacing: 0.0125em;
        color: #0B1F35;
        margin: 30px 0;
    }

    &__note {
        display: flex;
        margin: 30px 0 39px;

        .input {
            max-width: 392px;
            margin-right: 17px;
        }
    }

    &__wrapper {
        display: flex;
    }
}

.slider {
    &__inner {
        max-width: 610px;
        margin-bottom: 30px;
    }

    &-dots {
        margin: 20px -10px 0;

        &__item {
            margin: 0 10px;
            width: 85px;
            height: 64px;
            cursor: pointer;

            &:focus {

                border: 1px solid #0B1F35;
            }

            img {
                width: 100%;
                max-width: 100%;
            }

        }
    }
}

.info {
    width: 100%;

    &:nth-child(2) {
        padding-left: 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .arrow {
            display: flex;
        }

        &-price {
            font-weight: bold;
            font-size: 38px;
            line-height: 44px;
            letter-spacing: 0.0125em;
            color: #0B1F35;
            padding-left: 15px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #0B1F35;
        padding-bottom: 20px;
    }

    &__block {
        padding-bottom: 8px;
        margin-bottom: 20px;
        border-bottom: 1px solid #EFF0F4;

        &-subtitle {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.015em;
            color: #8D91A0;
            padding-bottom: 8px;
        }

        &-text {
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0.0125em;
            color: #0B1F35;
        }
    }

    &__footer {
        background: #FAFAFC;
        border-radius: 10px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #0B1F35;
            padding: 0 10px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    &__text {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.0125em;
        color: #8D91A0;
        padding-bottom: 48px;
    }

    &__link {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.0125em;
        color: #FF4242;
    }

    &__docs {
        display: flex;
        flex-direction: column;

        svg {
            width: 32px;
            height: 32px;
            margin-right: 20px;
            stroke: #FF4242;
            stroke-width: 1;
            fill: #FF4242;
        }

        &-link {
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0.0125em;
            color: #FF4242;
            padding: 7px 0;
            display: flex;
            align-items: center;
        }
    }
}