h2 Транспорт
ul.expandable
  li
    a(href='https://learn.javascript.ru/') Книги
    ul.expandable
      li
        a(href='https://learn.javascript.ru/') Отечественные
        ul.expandable
          li
            a(href='https://learn.javascript.ru/') Детективы
          li
            a(href='https://learn.javascript.ru/') Научная фантастика
          li
            a(href='https://learn.javascript.ru/') Исторические
      li
        a(href='#') Зарубежные
        ul.expandable
          li
            a(href='https://learn.javascript.ru/') Детективы
          li
            a(href='https://learn.javascript.ru/') Научная фантастика
          li
            a(href='https://learn.javascript.ru/') Исторические
  li
    a(href='https://learn.javascript.ru/') DVD
    ul.expandable
      li
        a(href='https://learn.javascript.ru/') Отечественные
        ul.expandable
          li
            a(href='https://learn.javascript.ru/') Детективы
          li
            a(href='https://learn.javascript.ru/') Научная фантастика
          li
            a(href='https://learn.javascript.ru/') Исторические
      li
        a(href='https://learn.javascript.ru/') Зарубежные
        ul.expandable
          li
            a(href='https://learn.javascript.ru/') Детективы
          li
            a(href='https://learn.javascript.ru/') Научная фантастика
          li
            a(href='https://learn.javascript.ru/') Исторические