h2 Транспорт
ul.expandable
    li
        a(href='#') Легковой транспорт
        ul.expandable
          li
            a(href='#') Категория
    li
        a(href='#') Мототехника
        ul.expandable
          li
            a(href='#') Категория
    li
        a(href='#') Авиатрпнспорт
        ul.expandable
          li
            a(href='#') Категория
    li
        a(href='#') Водный транспорт
        ul.expandable
          li
            a(href='#') Категория
    li
        a(href='#') Водный транспорт
        ul.expandable
          li
            a(href='#') Категория
    li
        a(href='#') Коммерческий транспорт
        ul.expandable
          li
            a(href='#') Категория

        