body.lock {
  overflow: hidden;
}

.popup {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  width: 482px;
  padding: 50px 40px;
  border-radius: 10px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

  &-part {
    width: 818px;
    height: 855px;
    overflow: hidden;
    padding: 90px;
    padding: 95px;
    // overflow-y: auto;
  }
}

.popup-part__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0125em;
  color: #8D91A0;
  text-align: justify;


}

.popup__block {
  // padding-bottom: 90px;
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  left: 18px;
  top: 18px;
}

.popup__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.0125em;
  margin-bottom: 50px;
  color: #000000;
}

.popup__save {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup__password {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  color: #FF4242;
}

.popup__confidentiality {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.015em;
  color: #8D91A0;

  span {
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    margin-bottom: 30px;
  }
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.label {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.0125em;

  /* Dark grey */

  color: #8D91A0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #8D91A0;
  box-sizing: border-box;
  border-radius: 3px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border: 1px solid #DD0404;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background: #FF4242;
  border-color: #fff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #8D91A0;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border: 1px solid #DD0404;
  background: #FF4242;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAzLjg3MDgxTDMuMDkwNjQgNkw4IDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-position: center;
  background-repeat: no-repeat;


}

.input__btn {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    margin-top: 20px;
    display: block;
    width: 260px;
    padding: 11px 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.select__head {
  font-weight: normal;
}

.popup-part__text {
  overflow-y: auto;
  height: 600px;
  padding-right: 10px;
}