.tab__note {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;

    .tab-title {
        height: 56px;
        width: 400px;
        background-color: #eff0f4;
        border-radius: 10px 10px 0px 0px;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.0125em;
        color: #000000;
        padding: 20px;

        &:after {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            right: 20px;
            width: 10px;
            height: 10px;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
            transform: rotate(45deg) translate(3px, 6px);
        }
    }

    .tab-content {
        padding: 20px;
        height: 0;
    }

    .textarea {
        width: 100%;
        padding: 11px;
        border: 1px solid #EFF0F4;
        height: 595px;

        &:placeholder {
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0.0125em;
            color: #8d91a0;
        }
    }
}

.tab :checked+.tab-title::before {
    transform: rotate(-135deg) translate(0, -3px);
}

.tab :checked~.tab-content {
    height: 100%;
}

.expandable {
    padding-left: 20px !important;

    &:first-child {
        padding: 0;
    }
}

.expandable li a {
    position: relative;
}

.with-list {
    position: relative;
}

.expandable .with-list::before {
    content: '';
    width: 6px;
    height: 6px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    display: block;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: rotate(-135deg) translateY(-50%);
}

.expandable .with-list.active::before {
    content: '';
}

li ul.expandable {
    display: none;
}

li.active>.expandable {
    display: block;
}