.tab__note {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;

    .tab-title {
        height: 56px;
        width: 400px;
        background-color: #eff0f4;
        border-radius: 10px 10px 0px 0px;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.0125em;
        color: #000000;
        padding: 20px;

        &:after {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            right: 20px;
            width: 10px;
            height: 10px;
            border-top: 2px solid #000000;
            border-left: 2px solid #000000;
            transform: rotate(45deg) translate(3px, 6px);
        }
    }

    .tab-content {
        padding: 20px;
        height: 0;
    }

    .textarea {
        width: 100%;
        padding: 11px;
        border: 1px solid #EFF0F4;
        height: 595px;

        &:placeholder {
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 0.0125em;
            color: #8d91a0;
        }
    }
}

.tab :checked+.tab-title::before {
    transform: rotate(-135deg) translate(0, -3px);
}

.tab :checked~.tab-content {
    height: 100%;
}


.expandable li {
    padding-left: 20px !important;
}

.expandable li a {
    position: relative;
}

.expandable .with-list::before {
    content: '';
    position: absolute;
    left: 0;
    background-image: url('../images/general/arrowd.svg');
    width: 20px;
    height: 20px;
    background: rgba(11, 31, 53, 0.1);
    border-radius: 50%;

}

.expandable .with-list.active::before {
    content: '-';
}

li ul.expandable {
    display: none;
}

li.active>.expandable {
    display: block;
}


.datepicker-panel>ul>li[data-view="month current"]:hover,
.datepicker-panel>ul>li[data-view="month prev"]:hover,
.datepicker-panel>ul>li[data-view="month next"]:hover,
.datepicker-panel>ul[data-view=week]>li:hover {
    background-color: transparent;
    color: #000;
}

.datepicker-panel>ul>li {
    transition: .2s linear;
    border-radius: 50%
}

.datepicker-panel>ul>li.highlighted {
    background-color: rgba(#FF4242, .4);
    color: #fff;
}

.datepicker--cell.-selected- {
    background-color: #FF4242;
    border-radius: 50%;
}

.datepicker--cell.-selected-:hover {
    background-color: #FF4242;
}

.datepicker--cell-day {
    transition: .3s linear;
}

.datepicker--cell-day:hover {
    background-color: #FF4242;
    border-radius: 50%;
    color: #fff;
}

.datepicker--cell.-current- {
    color: #FF4242;
}

.datepicker--cell.-current-:hover {
    color: #fff;
}