.lots {
  background: #FAFAFC;
  border-radius: 12px;
  padding: 40px 123px;

  &__title {
    font-size: 15px;
    line-height: 17px;
    color: $black;
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:nth-child(odd) {
      margin-top: 40px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &-title {
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.0125em;
      color: #FF4242;
      padding-right: 10px;
    }

    &-num {
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.0125em;
      color: #8D91A0;

      &.no-active {
        color: #EFF0F4;
      }
    }
  }

  &__btn {
    display: block;
    margin: 40px auto 0;
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}