ul.card__footer-list
    li.card__footer-item
        a.card__footer-link.disabled(href="#")
            +icon('star')
    li.card__footer-item
        a.card__footer-link.is-active(href="#")
            +icon('arrow')
    li.card__footer-item
        a.card__footer-link(href="#")
            +icon('mail')
    li.card__footer-item
        a.card__footer-link(href="#")
            +icon('bell')
