.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-up.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_2.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_3.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта

.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-up.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_2.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_3.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта

.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-up.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_2.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
                span.card__subheader-agrement Прямой договор
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_3.jpg", alt="card")
        .card__content
            .card__header
                .card__header-title Mazda CX9
                .card__header-number №4839
            .card__subheader
                span.card__subheader-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__subheader-price 5 582 000 ₽
            .card__suptitle
                .card__suptitle-item ООО Трансавто
                .card__suptitle-item Костромская обл., Кострома
                .card__suptitle-item ЭТП-прямая ссылка
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        include ../../modules/cards/block-icon
        .card__footer-button
            button.btn.btn--redBorder.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--grayBorder.card__btn Отчет эксперта

