.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img.jpg", alt="card")
        .card__content
            .card__header
                span.card__header-arrow
                    img(src="../static/images/general/arrow-up.svg", alt="up")
                .card__header-price 5 582 000 ₽
            .card__suptitle Костромская обл., Кострома
            .card__title Mazda CX9
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        ul.card__footer-list
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('star')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('arrow')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('mail')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('bell')
        .card__footer-button
            button.btn.btn--red.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--gray.card__btn Отчет эксперта

.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_2.jpg", alt="card")
        .card__content
            .card__header
                span.card__header-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__header-price 5 582 000 ₽
            .card__suptitle Костромская обл., Кострома
            .card__title Mercedes-Benz E-Класс AMG V (W213) 63 AMG S
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        ul.card__footer-list
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('star')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('arrow')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('mail')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('bell')
        .card__footer-button
            button.btn.btn--red.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--gray.card__btn Отчет эксперта
.card
    .card__main
        .card__img
            img(src="../static/images/content/card-img_3.jpg", alt="card")
        .card__content
            .card__header
                span.card__header-arrow
                    img(src="../static/images/general/arrow-down.svg", alt="up")
                .card__header-price 5 582 000 ₽
                span.card__header-agrement Прямой договор
            .card__suptitle Костромская обл., Кострома
            .card__title PORSCHE 911 SPEEDSTER
            .card__text Экскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно после подачи заявки на ознакомление с предметом торгов, согласовав дату ознакомления по тел. 89281875864 или e-mail:partnertorgrnd@yandex.ruЭкскаватор HYUNDAI R450LC-7 зав.№ NB0110574, гос.№ 95-79 ТА 71, 2006 г.в. Ознакомиться с характеристиками предмета торгов и иными сведениями можно
    .card__footer
        ul.card__footer-list
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('star')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('arrow')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('mail')
            li.card__footer-item
                a.card__footer-link(href="#")
                    +icon('bell')
        .card__footer-button
            button.btn.btn--red.card__btn
                +icon('basket')
                span Купить лот
            button.btn.btn--gray.card__btn Отчет эксперта
