extends template/main

block variables
	- var title = 'Главная страница'

block content
	include modules/lots
	.container
		.main
			.sidebar
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam?
			.content
				include modules/cards/card