extends template/main

block variables
	- var title = 'Лот'

block content
	.container
		#main-content
			#sidebar
		include modules/breadcrumbs/breadcrumbs
		h2.lot__title Mazda CX9
		include modules/cards/block-icon
		.lot__note
			input.input(type="text" placeholder='Заметка о лоте')
			button.btn.btn--redBorder Добавить заметку
		.lot__wrapper
			.lot__column.info
				.slider__inner
					.slider-main
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
						.slider-main__item
							img(src="../static/images/content/slider_1.jpg", alt="")
					.slider-dots__inner
						.slider-dots
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							.slider-dots__item
								img(src="../static/images/content/slider_1.jpg", alt="")
							
				.info__title Описание
				.info__text Год выпуска 2019, пробег 10 590 км, кузов-внедорожник 5 дв., Цвет Серый Двигатель 2.5 л / 231 л.с. / Бензин, коробка-Автоматическая, привод-полный, руль-левый, ПТС-оригинал, растаможенАвтоматическая, привод-полный, руль-левый, ПТС-оригинал, растаможен растаможен растаможен растаможен растаможен Год выпуска 2019, пробег 10 590 км, кузов-внедорожник 5 дв., Цвет Серый Двигатель 2.5 л / 231 л.с. / 
				.info__title Порядок участия в торгах
				.info__text Порядок оформления участия в торгах, перечень документов участника и требования к оформлению:К участию в торгах допускаются юридические и физические лица, своевременно подавшие заявку и представившие надлежащим образом оформленные документы в соответствии с перечнем, приведенным в сообщении о проведении торгов, задатки которых поступили на счет должника в установленный срок. Одно лицо может подать только одну заявку на участие в торгах в отношении каждого предмета конкурса (лота). Заявитель вправе изменить или отозвать заявку на участие в открытых торгах не позднее окончания срока подачи заявок на участие в открытых торгах, направив об этом уведомление оператору электронной площадки. Подача заявки на участие в торгах означает согласие на покупку имущества выставленного на торги по цене не ниже начальной. Заявка на участие в торгах должна соответствовать требованиям, установленным в соответствии с Законом о банкротстве и указанным в сообщении о проведении торгов, и оформляется в форме электронного документа. Заявка на участие в торгах составляется в произвольной форме на русском языке и должна содержать указанные в сообщении о проведении торгов следующие сведения: наименование, организационно-правовая форма, место нахождения, почтовый адрес заявителя (для юридического лица); фамилия, имя, отчество, паспортные данные, сведения о месте жительства заявителя (для физического лица); номер контактного телефона, адрес электронной почты заявителя. сведения о наличии или об отсутствии заинтересованности заявителя по отношению к должнику, кредиторам, арбитражному управляющему и о характере этой заинтересованности, сведения об участии в капитале заявителя арбитражного управляющего, а также саморегулируемой организации арбитражных управляющих, членом или руководителем которой является арбитражный управляющий. К заявке на участие в торгах должны прилагаться копии следующих документов: выписка из <a class="info__link popup-link" href="#popup-part">подробнее...</a>

				.info__title Документы
				.info__docs
					a(href="#" download).info__docs-link
						+icon('download')
						span Договор о задатке имущества Лот1.doc
					a(href="#" download).info__docs-link
						+icon('download')
						span Договор купли-продажи имущества ЛОТ 1.doc
					a(href="#" download).info__docs-link
						+icon('download')
						span Спец.счет.pdf





			.lot__column.info
				.info__header
					span.arrow
						img(src="../static/images/general/arrow-up.svg", alt="")
						.info__header-price 5 582 000 ₽
					span.agrement Прямой договор

				.info__title Должник
				.info__block
					.info__block-subtitle ФИО
					.info__block-text Константинопольский Михаил Максимович
				.info__block
					.info__block-subtitle Адрес
					.info__block-text Красноармейская ул., 8, 2 этаж, Кострома, Костромская обл., 156013
				.info__block
					.info__block-subtitle ИНН
					.info__block-text 664069397

				.info__title Организатор торгов
				.info__block
					.info__block-subtitle ФИО
					.info__block-text Константинопольский Михаил Максимович
				.info__block
					.info__block-subtitle Адрес
					.info__block-text Красноармейская ул., 8, 2 этаж, Кострома, Костромская обл., 156013
				.info__block
					.info__block-subtitle ИНН
					.info__block-text 664069397
				.info__block
					.info__block-subtitle Телефон
					.info__block-text +7 920 332 83 02
				.info__block
					.info__block-subtitle E-mail
					.info__block-text Sellall@bankrotseller.com

				.info__title Арбитражный управляющий
				.info__block
					.info__block-subtitle ФИО
					.info__block-text Константинопольский Михаил Максимович
				.info__block
					.info__block-subtitle ИНН
					.info__block-text 664069397
				.info__block
					.info__block-subtitle Телефон
					.info__block-text +7 920 332 83 02
				.info__block
					.info__block-subtitle E-mail
					.info__block-text Sellall@bankrotseller.com

				.info__title Шаг аукциона
				.info__block
					.info__block-subtitle Начало приема заявок
					.info__block-text 20.07.2020
				.info__block
					.info__block-subtitle Конец приема заявок
					.info__block-text 20.08.2020
				.info__block
					.info__block-subtitle Телефон
					.info__block-text +7 920 332 83 02
				.info__block
					.info__block-subtitle Дата торгов
					.info__block-text 20.07.2020

				.info__footer
					span.info__footer-item ЭТП-прямая ссылка
					span.info__footer-item № ЕФРСБ 	5203512
					span.info__footer-item № дела о банкротсве 	5203512
				.info__btn
					button.btn.btn--redBorder.card__btn
						+icon('basket')
						span Купить лот
					button.btn.btn--grayBorder.card__btn Отчет эксперта




