.sidebar {
  &__select {
    border: 1px solid #EFF0F4;
    position: relative;
    min-height: 40px;
    overflow: hidden;
  }

  &__input {
    width: 100%;
    border: 1px solid #EFF0F4;
    height: 40px;
    padding: 0 10px;

    &::placeholder {
      color: #EFF0F4;
    }

  }

  &__btn {
    margin-bottom: 20px;
    width: 100%;
  }
}

.tab__input,
.tab-content {
  display: none;
}

.tab {
  border: 1px solid #e9eaec;
  /* Параметры рамки */
  border-radius: 5px;
  /* Скругляем уголки */
  color: #0B1F35;
  /* Цвет текста */
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;


}

.tab-title {
  position: relative;
  padding: 13px 10px;
  /* Поля вокруг текста */
  display: block;
  /* Блочный элемент */
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align-last: left;

  /* identical to box height */

  text-align: center;

  /* Black */

  color: #000000;
  cursor: pointer;
  /* Вид курсора */
}

.tab-title::after {
  content: '';
  /* Выводим плюс */
  margin-left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid #000;
  display: block;
  width: 0;
  height: 0;
  display: inline-block;
}

.tab :checked+.tab-title {
  /* Цвет фона */
  border-radius: 5px 5px 0 0;

  /* Скругляем уголки */
}

.tab__note :checked+.tab-title::after {
  content: '';
  transform: rotate(180deg) translateY(3px);
}

.tab :checked~.tab-content {
  display: block;

  /* Показываем содержимое */
}

.tab .tab-title:focus-visible {
  border-color: #8D91A0;
}


.wrapper-dropdown {
  /* Size and position */
  position: relative;
  /* Enable absolute positionning for children and pseudo elements */
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #e9eaec;
  /* Параметры рамки */
  border-radius: 5px;
  /* Скругляем уголки */
  color: #0B1F35;
  /* Цвет текста */
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 40px;
}

.wrapper-dropdown:after {
  content: '';
  /* Выводим плюс */
  margin-left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid #000;
  display: block;
  width: 0;
  height: 0;
  display: inline-block;
}

.wrapper-dropdown .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  /* Styles */
  background: #fff;
  list-style: none;
  font-weight: normal;
  z-index: 100;
  border: 1px solid #e9eaec;
  border-radius: 0 0 5px 5px;
  /* Cancels previous font-weight: bold; */

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #9e9e9e;
  padding: 10px 20px;
  overflow: hidden;
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
  background: #f3f8f8;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.wrapper-dropdown.active:after {
  content: '';
  transform: rotate(180deg) translateY(3px);
}

/* No CSS3 support */

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
  display: block;
}