.select {
  --text: #3F4656;
  --border: #EFF0F4;
  --background: transparent;

  &.dropdown {
    padding: 9px 16px;
    border-radius: none;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;
  }
}

.input {
  width: 100%;
  border: 1px solid #EFF0F4;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  padding: 7px 16px;
  color: #8D91A0;
  min-height: 40px;

  &::placeholder {
    color: #8D91A0;
  }
}


.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.select__head {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0B1F35;
  border: 1px solid #EFF0F4;
  cursor: pointer;
}

.select__head::after {
  content: '';
  /* Выводим плюс */
  margin-left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid #000;
  display: block;
  width: 0;
  height: 0;
  display: inline-block;
}

.select__head.open {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.select__head.open::after {
  transform: rotate(180deg) translateY(3px);

}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #EFF0F4;
  border-top: none;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

.select-c {
  --text: #3F4656;
  --border: #EFF0F4;
  --background: transparent;

  &.dropdown {
    padding: 9px 16px;
    border-radius: none;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;
  }
}

.input {
  width: 100%;
  border: 1px solid #EFF0F4;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  padding: 7px 16px;
  color: #8D91A0;
  min-height: 40px;

  &::placeholder {
    color: #8D91A0;
  }
}


.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.select__head {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0B1F35;
  border: 1px solid #EFF0F4;
  cursor: pointer;
}

.select__head::after {
  content: '';
  background-image: url(../../../images/general/arrow.svg);
  display: block;
  width: 0;
  height: 0;

}

.select__head.open {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.select__head.open::after {
  transform: rotate(180deg) translateY(3px);

}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #EFF0F4;
  border-top: none;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}