#password.popup
  .popup__body
    .popup__content
        a.popup__close.close-popup(href='#header')
            img(src="../static/images/general/close.svg", alt="")
        .popup__title Восстановление пароля
        form.form(action="")
            input.input.form__input.m-0(type="text" placeholder="E-mail")
            .input__btn
                input.btn.btn--redBackground(type="submit" value="Сбросить пароль")
