footer.footer
    .container
        .footer__top
            a.logo(href="")
                img(src="../static/images/general/logo.svg", alt="")
            .footer__info
                    a(href="#").footer__info-link О портале
                    a(href="#").footer__info-link Как заказать лот?
                    a(href="#").footer__info-link Не нашли что искали?
                    a(href="#").footer__info-link Политика конфиденциальности
        .footer__menu
            .footer__menu-block
                .footer__menu-title Транспорт
                a(href="#").footer__menu-item
                    .footer__menu-link Спецтехника
                    span.footer__menu-number.no-active 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Легковой транспорт
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Мототехника
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Авиатрпнспорт
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Водный транспорт
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Коммерческий транспорт
                    span.footer__menu-number 32356
            .footer__menu-block
                .footer__menu-title Недвижемость
                a(href="#").footer__menu-item
                    .footer__menu-link Жилая недвижимость
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Коммерческая недвижимость
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Земельные участки
                    span.footer__menu-number 32356
            .footer__menu-block
                .footer__menu-title С.Х. Имущество
                a(href="#").footer__menu-item
                    .footer__menu-link С.Х. техника
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Животные и скот
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Оборудование
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Оборудование
                    span.footer__menu-number 32356
            .footer__menu-block
                .footer__menu-title Ценные бумаги
                a(href="#").footer__menu-item
                    .footer__menu-link Для дома
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Транспорт
                    span.footer__menu-number 32356
                a(href="#").footer__menu-item
                    .footer__menu-link Коммерческий транспорт
                    span.footer__menu-number 3235
.footer__bottom
    .container
        .footer__bottom-inner
            .footer__bottom-copyright © 2008-2020 БАНКРОТСЕЛЛЕР
            .footer__bottom-contacts
                a(href="mailto:bankrotseller@mail.ru").footer__bottom-link
                    +icon('mail')
                    span bankrotseller@mail.ru
                a(href="tel:+79502400909").footer__bottom-link
                    +icon('phone')
                    span +7 950 240-09-09
